---
title: Step 01 - Data
subject: Churn Analysis
subtitle: Step 00 - Data - Churn Analysis
short_title: Data
date: 2025-12-17

authors:
  - name: Jocelyn Perez
    affiliations:
      - name: University of California, Berkeley
    email: jocelyneperez@berkeley.edu
    orcid: 0000-0000-0000-0000

  - name: Claire Kaoru Shimazaki
    affiliations:
      - name: University of California, Berkeley
    email: ckshimazaki@berkeley.edu
    orcid: 0000-0000-0000-0000

  - name: Colby Zhang
    affiliations:
      - name: University of California, Berkeley
    email: colbyzhang@berkeley.edu
    orcid: 0000-0000-0000-0000

  - name: Olorundamilola Kazeem
    affiliations:
      - name: University of California, Berkeley
    email: dami@berkeley.edu
    orcid: 0000-0003-2118-2221

license: BSD-3-Clause

keywords: data, raw data, churn, spotify

abstract: What is the data? metadata?
---

# Step 01: Data

The churn analysis dataset can be found here, {cite}`spotify-churn-kaggle`.

In [1]:
import src.step00_utils as step00_utils

import typing as typ

import pandas as pd
import pandera as pdr
import pathlib as pl

In [2]:
step00_utils.DIR_PROJECT_CURRENT

PosixPath('/home/jovyan/Projects/STAT_159_259/final-group08/notebooks')

In [3]:
step00_utils.DIR_PROJECT_HOME

PosixPath('/home/jovyan/Projects/STAT_159_259/final-group08')

In [4]:
step00_utils.DIR_DATA

PosixPath('/home/jovyan/Projects/STAT_159_259/final-group08/data')

Q: What data are we investigating? 
- A: [Spotify Dataset for Churn Analysis](https://www.kaggle.com/datasets/nabihazahid/spotify-dataset-for-churn-analysis)

Q: What are the data and metadata details?
- A: Describe the data, metadata, datatypes, features, labels, number of samples, etc.

Q: Is this data publicly available? How is it accessed?
- A: Downloaded to local directory - ./data/00_raw/spotify_churn_dataset.csv

In [5]:
data_raw = pd.read_csv(step00_utils.DIR_DATA_00_RAW / step00_utils.FILE_SPOTIFY_CHURN_DATASET_CSV)
data_raw

,user_id,gender,age,country,subscription_type,listening_time,songs_played_per_day,skip_rate,device_type,ads_listened_per_week,offline_listening,is_churned
0,1,Female,54,CA,Free,26,23,0.20,Desktop,31,0,1
1,2,Other,33,DE,Family,141,62,0.34,Web,0,1,0
2,3,Male,38,AU,Premium,199,38,0.04,Mobile,0,1,1
3,4,Female,22,CA,Student,36,2,0.31,Mobile,0,1,0
4,5,Other,29,US,Family,250,57,0.36,Mobile,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7995,7996,Other,44,DE,Student,237,36,0.30,Mobile,0,1,1
7996,7997,Male,34,AU,Premium,61,64,0.59,Mobile,0,1,0
7997,7998,Female,17,US,Free,81,62,0.33,Desktop,5,0,0
7998,7999,Female,34,IN,Student,245,94,0.27,Desktop,0,1,0
7999,8000,Other,45,AU,Free,210,68,0.46,Desktop,6,0,0